<!DOCTYPE html>
<html>
<head>
	<title></title>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel='stylesheet' href='/stylesheets/payment.css' />
</head>
<body>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
    <script type="text/javascript">
    	var cost = <%- JSON.stringify(cost) %>
    </script>
	<% include nav %>
	<div id="Content">

		<form id="reservation_form" action="/payment/checkout" method="Post">
			<div id="Reservation-Info">
				<h3>Reservation</h3>
				<div class= "Reservation-Info-Item"><span>movie_name</span><span><%- movie_name %></span></div>
				<div class= "Reservation-Info-Item"><span>cinema</span><span><%- cinema_name %></span></div>
				<div class= "Reservation-Info-Item"><span>date</span><span><%- date %></span></div>
				<div class= "Reservation-Info-Item"><span>screen</span><span><%- screen %></span></div>
				<div class= "Reservation-Info-Item"><span>seats</span><span><%- info_s %></span></div>
				<div class= "Reservation-Info-Item"><span>cost</span><span><%- cost %></span></div>
			</div>
			
			<ul id="Cuppon-list">
				<h3>Cuppon List</h3>
			</ul>
			<ul id="Payment-methods">
				<h3>Payment method</h3>
				<li><label><input type="radio" name="pay_method" value="신용카드"/><h5>신용카드</h5>
						<select>
							<option>신한카드</option>
							<option>BC카드</option>
							<option>국민카드</option>
							<option>현대카드</option>
							<option>우리카드</option>
						</select>
				</label>
				</li>
				<li><label><input type="radio" name="pay_method" value="휴대폰결제" /><h5>휴대폰결제</h5>
					<select>
						<option>payco</option>
						<option>카카오페이</option>
						<option>카카오페이</option>
						<option>카카오페이</option>
					</select>
				</label>
				</li>
				<li><label><input type="radio" name="pay_method" value="계좌이체"/><h5>계좌이체</h5></label></li>
				<li><label><input type="radio" name="pay_method" value="간편결제" /><h5>간편결제</h5></label></li>
			</ul>

			<div id="Payment">
				<h3>Pay</h3>
				<div><span>Tickets Price</span> <span><span id="price">8000</span>원</span></div>
				<div><span>Discounts</span> <span><span id="discounts">3000</span>원</span></div>
				<div><span>Total </span> <span><span id="total_price">3000</span>원</span></div>
			<input id="checkOutBtn" value="Check out!"/>
			</div>
		</form>
	</div>
	<% include menu %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<script type="text/javascript" src="/javascripts/payment.js"></script>
</body>
</html>